.wrapper {
    width: 100%;
    max-width: 1400px;
    margin-top: 152.33px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingLargeBlack {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(49,49,49);
    margin: 0;
    text-align: center;
}

.singleBgWithText {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.singleBgContainer {
    width: 100%;
    height: 600px;
}

.singleBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.textSmallBlack {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(49,49,49);
    margin: 25px 0;
    line-height: 1.5rem;
}

.headerSmallBlack {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(49,49,49);
    margin: 10px 0;
}

.multiBgWithText {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.multiBgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.bgContainer {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 20px;
    color: #fa7184;
}

.textExtraSmallBlack {
    font-size: 1rem;
    color: rgb(49,49,49);
    margin: 10px 0;
}

.mapContainer {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 1023px) {
    .multiBgContainer {
        flex-direction: column;
    }

    .bgContainer {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        margin-top: 80px;
        padding: 10px;
    }

    .singleBgWithText, .multiBgWithText {
        margin: 25px auto;
    }

    .singleBgContainer {
        height: auto;
    }

    .bgContainer {
        height: auto;
    }
}