.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgContainer {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingLargeWhite {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin: 20px auto;
    text-align: center;
}

.body {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headingMediumBlack {
    font-size: 1rem;
    color: rgb(49, 49, 49);
    font-weight: 600;
    margin: 20px auto;
    text-align: center;
    text-transform: capitalize;
}

.border {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderImg {
    width: 100%;
}

.gridContainer {
    width: 100%;
    margin: 25px auto;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px 20px;
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.smallBgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textSmallBlack {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(49, 49, 49);
    margin: 10px auto;
    text-align: center;
}

.linkContainer {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100%;
    height: 50px;
    border: 1px solid #DD88CF;
    background-color: #DD88CF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 950px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 10px;
    }

    .gridContainer {
        padding: 0;
        grid-template-columns: 1fr;
    }

    .smallBgContainer {
        height: auto;
    }

    .textSmallBlack {
        display: block;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
        text-overflow: unset;
        overflow: auto;
    }
}