.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    font-size: 15px;
    color: inherit;
}

.text {
    font-size: 0.7rem;
    font-weight: 600;
    color: gray;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.6s ease;
    color: #f9aab4;
}


.link:hover {
    color: #fd8998;
}

@media (max-width: 767px) {
    .main {
        display: none;
    }
}