.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    font-size: 25px;
    color: inherit;
}

.text {
    font-size: 1rem;
    font-weight: 600;
    color: gray;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.6s ease;
    font-size: 20px;
    color: #DD88CF!important;
}


.link:hover {
    color: #b57ab3;
}

@media (max-width: 767px) {
    .main {
        display: none;
    }
}