.main {
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.wrapper {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
    background-color: #ffffff;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingSmallPink {
    font-size: 1rem;
    font-weight: 600;
    color: #fa99b4;
    margin: 10px auto;
    text-align: center;
}

.headingLargeBlack {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
}

.borderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.border {
    width: 100%;
    max-width: 200px;
}

.textSmallBlack {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px auto;
    color: black;
    text-align: center;
    width: 70%;
    line-height: 25px;
}


.body {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRadius {
    width: 200px;
    border-radius: 50%;
    /* padding: 10px;
    box-sizing: border-box; */
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 10px;
}

.headingMediumBlack {
    position: relative;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(49, 49, 49);
    margin: 10px auto;
    text-align: center;
    text-transform: capitalize;
}

.headingMediumBlack::after {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fa99b4;
    border-radius: 20px;
    border: none;
}


.textExtraSmallBlack {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 10px auto;
    color: black;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(49, 49, 49);
}

.linkContainer {
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #fa99b4;
    background-color: white;
    color: #fa99b4;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.7s ease-out;
}

.link:hover {
    background-color: #fa789d;
    color: white;
}


@media (max-width: 1300px) {
    .itemContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1023px) {
    .itemContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 30px 10px;
    }
    
    .itemContainer {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 0;
    }

    .body {
        padding: 0;
    }

    .textSmallBlack {
        width: 100%;
    }

    .link {
        max-width: unset;
    }
}