.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100Vh;
    min-height: 667px;
    background-color: #323232;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 800;
    gap: 50px;
    transition: all 0.4s ease-out;
}

.wrapper.open {
    transform: translateX(0);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
}

.xContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: 1rem;
    color: lightgray;
    font-weight: 400;
}

.x {
    font-size: 1.5rem;
    color: lightgray;
    font-weight: 300;
}

.x:hover {
    color: white;
}

.bottom {
    position: relative;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(150%);
    transition: all 0.4s ease-out;
}

.slider.display {
    transform: translateX(0);
}

.pBtnLargeWhite {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.pBtn {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 20px;
    color: white;
}