.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.svg {
    font-size: inherit;
    color: inherit;
}

.link {
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.6s ease;
    color: #f9aab4;
}


.link:hover {
    color: #fd8998;
}