.wrapper {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.StripeElement {
    width: 100%;
    
}

.btnGroup {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 100%;
    max-width: 200px;
}

@media (max-width: 767px) {
    .wrapper {
        max-width: unset;
    }

    .inputGroup {
        flex-direction: column;
    }

    .btnGroup {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .btn {
        max-width: unset;
    }
}