.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(77, 77, 77);
}

.parentList {
    font-size: 0.8rem;
    font-weight: 600;
    color: inherit;
}

.nestedList {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 10px);
    /* width: 100%; */
    min-width: 280px;
    display: none;
    z-index: 1;
}

.item {
    position: relative;
    color: inherit;
    transition: color 0.7s ease;
}

.item:hover .nestedList {
    display: flex;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    color: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .link, .text {
        font-size: 1.2rem;
    }

    .item {
        color: lightgray;
    }

    .item:hover {
        color: white;
    }

    .item:hover .nestedList {
        display: none;
    }
}