.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(77, 77, 77);
}

.item {
    color: inherit;
    transition: color 0.7s ease;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    color: inherit;
}

.item:hover {
    color: black;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .link {
        font-size: 1.2rem;
    }

    .item {
        color: lightgray;
    }

    .item:hover {
        color: white;
    }
}