@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* primary color: */
/* #f9aab4 */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  font-family: "Aboreto", serif;
}

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4px;
  box-sizing: border-box;
  background-color: #eeeeee;
  z-index: 2;
}

@media (max-width: 767px) {
  .topbar {
    background-color: #eeeeee00;
  }
}